{% extends 'infoManage/pagination.html' %}
{% load static %}
{% block body %}
    <!-- 服务器当前所属区域展示 -->
    <div class="btn-group">
        <button type="button" class="btn btn-info">{{ current_env }}</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <!-- 区域选择下拉列表 -->
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'infoManage:server_list' env_name='all' %}">所有环境</a></li>
            {% for env in env_list %}
                <li><a class="dropdown-item"
                       href="{% url 'infoManage:server_list' env_name=env.area %}">{{ env.area_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- 新建和模板按钮 -->
    <button type="button" class="btn btn-success" onclick="AddEvent('{{ env_name }}')">新建服务器</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="UploadEvent()">模板上传</button>
    <!-- 显示服务器列表 -->
    <div class="bs-example" data-example-id="Governable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                {% for key in key_list %}
                    <th>{{ key }}</th>
                {% endfor %}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for data in page_obj %}
                <tr>
                    <td>{{ data.hostname }}</td>
                    <td>{{ data.ipaddress }}</td>
                    <td>{{ data.get_platform_display }}</td>
                    <td>{{ data.get_protocols_display }}</td>
                    <td>{{ data.port }}</td>
                    <td>
                        {% if data.credentials.username %}
                            <button class="btn btn-info btn-sm" onclick="copyToClip('{{ data.credentials.username }}')">
                                {{ data.credentials.username }}
                            </button>
                            <button class="btn btn-info btn-sm"
                                    onclick="GetPassword('{{ data.credentials.password }}')">
                                密码
                            </button>
                        {% else %}
                            <span class="text-bg-warning">未配置</span>
                        {% endif %}
                    </td>
                    <td>{{ data.environment.area_name }}</td>
                    <td>{{ data.note|default_if_none:"" }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-edit" onclick="editServer('{{ data.hostname }}')">编辑</a>
                        <a class="btn btn-danger btn-sm btn-delete" onclick="DeleteServer('{{ data.hostname }}')">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 添加/编辑服务器Modal -->
    <div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalAddEditLabel">title</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAddEdit" novalidate class="form-horizontal">
                        <div class="clearfix">
                            {% for i in form %}
                                <div class="col-xs-12">
                                    <div class="form-group" style="position: relative;margin-bottom: 20px">
                                        <label>{{ i.label }}</label>
                                        {{ i }}
                                        <span class="error-msg" style="color: red;position: absolute"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="BtnSaveEvent()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除服务器Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <h4>是否删除该服务器？</h4>
                <p>删除后，相关服务器信息将会消失！</p>
                <div class="modal-footer" style="pointer-events: auto">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="ConfirmDeleteServer()">确认删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 上传Small modal -->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <p>
                    <!-- 读取 static目录下的文件-->
                    <a href="{% static 'infoManage/excel/server.xlsx' %}">模板下载</a>
                    <input type="file" class="form-control" name="upload" id="file_uploads" required/>
                </p>
                <button class="btn btn-info form-control" type="submit" onclick="uploads()" value="submit">上传
                </button>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script type="text/javascript">
        // 主机名称
        let HOSTNAME;

        //点击新建弹出
        function AddEvent(content) {
            // 将正在编辑的ID设置为空
            HOSTNAME = undefined;
            // 清空对话框内容
            $("#formAddEdit")[0].reset();
            // 修改对话框标题
            $("#modalAddEditLabel").text("新建");
            // 显示新建主机模态框
            $('#modalAddEdit').modal('show');
            // 清空可能残留的错误
            $(".error-msg").empty();
            // 设置所属环境的默认值
            $("#id_environment").val(content)
        }

        //点击编辑弹出
        function editServer(content) {
            // 编辑服务器信息
            HOSTNAME = content
            $.ajax({
                url: "{% url 'infoManage:server_detail' %}",
                type: "get",
                data: {
                    hostname: content
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //将数据赋值到标签中
                        $.each(res.data, function (name, value) {
                            $("#id_" + name).val(value)
                        })
                        //修改对话框标题
                        $("#modalAddEditLabel").text("编辑")
                        //点击编辑按钮，显示对话框
                        $('#modalAddEdit').modal('show');
                        //清空可能残留的错误
                        $(".error-msg").empty();
                    } else {
                        alert(res.error);
                    }
                }

            })

        }

        //点击保存，根据HOSTNAME来执行脚本
        function BtnSaveEvent() {
            // 清除错误信息
            $(".error-msg").empty();
            // 变量HOSTNAME存在则是编辑，不存在则是新建
            if (HOSTNAME) {
                EditServer();
            } else {
                AddServer();
            }
        }

        //新增服务器
        function AddServer() {
            //点击保存按钮，发生请求
            $.ajax({
                url: "{% url 'infoManage:server_add' %}",
                type: "post",
                data: $("#formAddEdit").serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        $('#modalAddEdit').modal('hide');
                        Message("提醒消息", "服务器创建成功");
                        FlushPage(2100);
                    } else {
                        // 把错误信息显示在对话框中
                        $.each(res.error, function (name, errorList) {
                            $("#id_" + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }

        //编辑服务器
        function EditServer() {
            //点击保存按钮，发生请求/server/edit/?hostname=xx
            $.ajax({
                url: "{% url 'infoManage:server_edit' %}" + "?hostname=" + HOSTNAME,
                type: "post",
                data: $("#formAddEdit").serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        $('#modalAddEdit').modal('hide');
                        Message("提醒消息", "服务器修改成功");
                        FlushPage(2100);
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }

        //获取明文密码
        function GetPassword(ciphertext) {
            $.ajax({
                    url: "{% url 'infoManage:account_get_password' %}",
                    type: "post",
                    data: {
                        'encryption_password': ciphertext
                    },
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            let aux = document.createElement("input");
                            aux.setAttribute("value", res.plaintext);
                            document.body.appendChild(aux);
                            aux.select();
                            document.execCommand("copy");
                            document.body.removeChild(aux);
                            console.log(res.message + "，密码复制成功");
                            //alert("复制成功");
                        }
                            //console.log(res.plaintext);
                        //location.reload();
                        else {
                            // 把错误信息显示在对话框中
                            console.log(res.message);
                        }
                    }
                }
            )
        }

        //点击删除按钮，显示对话框
        function DeleteServer(content) {
            $('#modalDelete').modal('show');
            HOSTNAME = content
            console.log('询问删除 ' + HOSTNAME);
        }

        //点击确定删除按钮，发送ajax请求删除数据
        function ConfirmDeleteServer() {
            console.log('确定删除' + HOSTNAME);
            $.ajax({
                url: "{% url 'infoManage:server_delete' %}",
                type: "get",
                data: {
                    hostname: HOSTNAME
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //删除成功信息
                        console.log(HOSTNAME + ' 删除成功');
                        HOSTNAME = undefined
                        $('#modalDelete').modal('hide');
                        Message("提醒消息", "域名删除成功");
                        FlushPage(2100);

                    } else {
                        //删除失败
                        alert(res.error)
                        location.reload()
                    }
                }
            });
        }

        //显示上传模态框
        function UploadEvent() {
            $('#modalUpload').modal('show');
        }

        //上传excel
        function uploads() {
            const form_data = new FormData();
            form_data.append('files', $('#file_uploads')[0].files[0]);
            $.ajax({
                url: "{% url 'infoManage:server_upload' %}",
                type: 'post',
                contentType: false,
                processData: false,
                data: form_data,
                success: function () {
                    alert('上传完成!')
                    location.reload();
                }
            })
        }

        //点击复制
        function copyToClip(content, message) {
            let aux = document.createElement("input");
            aux.setAttribute("value", content);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
            if (message == null) {
                console.log("复制成功");
                //alert("复制成功");
            } else {
                alert(message);
            }
        }

    </script>
{% endblock %}
